<!DOCTYPE html>
<html>
<body>

<h1>Title</h1>

<p>Some Text</p>

<form method="POST" >
    <div class="form-group">
       <label>Fist input</label>
       <input type="text" class="form-control" name="pythonFirstInput" placeholder="input">
    </div>
    <div class="form-group">
       <label>Second input</label>
       <input type="text" class="form-control" name="pythonSecondInput" placeholder="input">
    </div>
    <button type="submit" class="btn btn-black" >Submit</button>
    <br>
    <br>
    {{myOutput}}
 </form>


</body>
</html>